body{
    margin:0;
    padding:0;
    font-family: 'Roboto', sans-serif;
}

header{
    background-color:  #e351ad;
    color: #FFFFFF;
    padding: 0.4rem;
}

.content {
    padding: 7px;
}

h1{
    margin:0;
}

h2{
    margin: 2rem 0 0.5rem 0;
}

p{
    padding: 0 0 0 0.4rem;
    font-size: 1.2rem;
}

form {
    display: flex;
    flex-flow: column wrap;
    max-width: 410px;
    margin: 0 auto;
}

label{
    margin-top: 0.6rem;
    margin-bottom: 0.2rem;
    font-size: 1.3rem;
}

input{
    font-size: 1rem;
    padding: 0.5rem;
}

input[type="radio"] {
    width: 17px;
    height: 17px;
}

button{
    margin: 1rem auto;
    padding: 5px;
    border-radius: 4px;
    border-color: #9a00ff;
    background-color: #9a00ff;
    color: #FFFFFF;
    font-weight: 600;
    font-size: 2rem;
    cursor: pointer;
}

.success{
    margin: 2rem auto;
    width: 90%;
    border: 3px solid #e351ad;
    padding: 10px;
    background-color: #e351ad;
    border-radius: 10px;
    color: #FFF;
    font-size: 2.5rem;
}

.hidden{
    display: none;
}